div.pgset{
    background-color: blanchedalmond;
}
div.home{
    margin-left: 5%;
    float: left;
}
div.lset{
    margin-left: 5%;
    margin-top: 2%;
}
div.hbg{
    float: left;
    margin-left: 5%;
}