/*  
body{
    background-color: black;
    background-image: url("../Day1/cat.jpg");
    color: chartreuse;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: lighter;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}*/
head{
    color: ivory;
}
body{
    background-color: darkgrey;
    color: chartreuse;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: lighter;
}   
div{
    margin: 2em;
    border: 15px double red;
    opacity: 0.5;
    border-top-style: groove;
    border-bottom-style: dashed;
    border-radius: 100px;
}
h1{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 300px;
    margin-right: 300px;
    border: 1px double white;
    opacity: 0.5;
    border-radius: 100px;
}
h1:hover{
    background-color: black;
    color: chartreuse;
}
div:hover{
    background-color: cyan;
    color: red;
}